<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css" />
    <title>Git 'er Done</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io (4)/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io (4)/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io (4)/favicon-16x16.png">
</head>
<body>
    <main class="main">
        <!-- SVG WAVE GOES HERE -->
        <div class="background">
            <%- include('../public/svg/wave.svg') %>
            <%- include('../public/svg/wave2.svg') %>
        </div>
        <!-- SVG WAVE GOES ABOVE -->
        <div class="centered-content">
            <h1>Create your very own Git 'er Done Pomodoro List!</h1>
            <p>Stay organized and on top of your tasks with our user-friendly To Do List with a build in Pomodoro Timer. Designed with simplicity in mind, our app helps you manage your daily responsibilities effortlessly. </p>
            <div class="links-container">
                <a class="link-button" href="/login"><span><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><g id="academiconsPreregistered0"><path id="academiconsPreregistered1" fill="currentColor" fill-opacity="1" fill-rule="nonzero" stroke="none" stroke-width=".035" d="M255.967 8c-14.42 0-28.913 3.167-39.842 9.51L69.402 102.207c-21.954 12.675-39.899 43.754-39.899 69.084v169.42c0 25.336 17.945 56.425 39.9 69.094l146.722 84.714c10.929 6.324 25.421 9.482 39.842 9.482c14.486 0 28.97-3.158 39.9-9.482l146.722-84.714c21.922-12.669 39.908-43.758 39.908-69.094V171.29c0-25.33-17.986-56.41-39.908-69.084L295.866 17.511C284.937 11.167 270.453 8 255.967 8Zm99.189 144.373c4.227 0 8.45 1.602 11.651 4.813l17.847 17.827c6.402 6.428 6.402 16.938 0 23.36L228.22 354.823c-6.466 6.416-16.938 6.416-23.34 0l-68.942-68.913c-6.402-6.415-5.044-18.277 0-23.34l17.855-17.828c6.403-6.428 16.94-6.428 23.341 0l27.746 27.726c6.402 6.415 16.874 6.415 23.34 0l115.236-115.282a16.556 16.556 0 0 1 11.699-4.813z"/></g></svg> Login</span></a>
                <a class="link-button" href="/signup"> <span><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M6 7c0 .55.45 1 1 1h7.59l-8.88 8.88a.996.996 0 1 0 1.41 1.41L16 9.41V17c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1H7c-.55 0-1 .45-1 1z"/></svg> Sign up</span></a>
            </div>
        </div>
    </main>
</body>
</html>