<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Git er Done Pomodoro List" />
    <meta property="og:url" content="https://giterdonepomodoro.onrender.com" />
    <meta property="og:title" content="Git er Done" />
    <meta property="og:description" content="Git er Done Pomodoro List" />
    <meta property="og:site_name" content="Git er Done" />
    <meta
      property="og:image"
      content="https://giterdonepomodoro.onrender.com/img/metaimg.png"
    />
    <meta property="fb:app_id" content="000000" />
    <!-- Used for Domain Insights -->
    <meta property="og:type" content="website" />
    <!-- website is deafult -->
    <meta property="og:locale" content="en_US" />
    <!-- en_US is deafult -->
    <title>Git 'er Done</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io (4)/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io (4)/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io (4)/favicon-16x16.png"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="container">
      <form class="form" action="/login" method="POST">
        <div class="title">Welcome,<br /><span>sign in to continue</span></div>
        <input type="email" placeholder="Email" name="email" class="input" />
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="input"
        />

        <button type="submit" class="button-confirm">Let`s go →</button>
      </form>

      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>
    </div>
  </body>
</html>
