<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Git er Done Pomodoro List">
    <meta property="og:url" content="https://giterdonepomodoro.onrender.com" />
    <meta property="og:title" content="Git er Done" />
    <meta property="og:description" content="Git er Done Pomodoro List" />
    <meta property="og:site_name" content="Git er Done" />
    <meta property="og:image" content="https://giterdonepomodoro.onrender.com/public/img/metaimg.png" />
    <meta property="fb:app_id" content="000000" /> <!-- Used for Domain Insights -->
    <meta property="og:type" content="website" /> <!-- website is deafult -->
    <meta property="og:locale" content="en_US" /> <!-- en_US is deafult -->
    <title>Git 'er Done</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io (4)/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io (4)/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io (4)/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/todos.css">

</head>

<body>
    <main>
        <div class="container">
            <!-- Timer -->
            <section>
                <div class="timer-wrapper">
                    <form id="timerForm" action="/timer" method="POST">
                        <div>
                            <label for="minutes">Set timer (in minutes):</label>
                            <input type="number" id="minutes" name="minutes" min="1" required>
                        </div>

                        <div>
                            <button class="timerStart" type="submit" name="action" value="start">Start</button>
                            <button type="submit" name="action" value="pause">Pause</button>
                            <button type="submit" name="action" value="reset">Reset</button>
                        </div>
                    </form>

                    <span class="showTime">00:00:00</span>

                </div>

            </section>

            <!-- Tasks Section -->
            <section>
                <h1 class="section-title">Git 'er Done Pomodoro List</h1>
                <ul id="sortableList">
                    <% todos.forEach( el=> { %>
                        <li class='todoItem sortableItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                            <span class='del'> <i class="fa-solid fa-trash-can pointer"></i> </span>
                        </li>
                        <% }) %>
                </ul>

                <form class="todo" action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <button type="submit">Add task</button>
                </form>

                <div class="foot-container">
                    <h2 class="section-title">
                        You have <%= left %> things left to do.
                    </h2>
                    <a class="logout" href="/logout">Logout</a>
                </div>
            </section>
        </div>
    </main>

    <audio src="/arcade.wav" id="alarm"></audio>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="js/main.js"></script>
    
</body>

</html>