@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&display=swap");

* {
  border: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='376' height='45.1' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23F3E9E4' stroke-width='6' stroke-opacity='0.5'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

main {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

h1,
h2 {
  color: #242424;
  line-height: 1.15em;
}

.section-title {
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;

  gap: 1rem;
  padding: 0em 5em;
  height: 100vh;
}

.container section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container section:nth-child(2) {
  padding: 50px 50px;
}

ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;

  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Align the list items horizontally center */
}

li {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  list-style-type: none;
  text-decoration: none;
  padding: 0.75em;
  border-radius: 5px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  border: solid 2px black;
}

li span.not {
  text-decoration: none;
}

.del {
  transition: all 0.4s ease;
  padding: 5px 5px;
}

.del:hover {
  color: red;
  background-color: #f1f1f1;
  padding: 5px 20px;
  border-radius: 12px;
}

.todo {
  width: 100%;
  display: flex;

  align-items: center;

  gap: 12px;

  padding: 20px 0px;
  margin: 20px 0px;
}

.todo input {
  --input-focus: #2f2f2f;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}
.todo input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.todo input:focus {
  border: 2px solid var(--input-focus);
}

.todo button {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.todo button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.timer-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 50px;
}

.timer-wrapper form {
  display: flex;
  flex-flow: column;
  gap: 12px;
}

.timer-wrapper form div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 12px;
}

.timer-wrapper form button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.timer-wrapper form button:disabled {
  pointer-events: none;
  color: gray;
  border: solid 2px lightgray;
}

.timer-wrapper form button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.timer-wrapper form button:active {
  box-shadow: none;
  transform: translateY(0);
}

.timer-wrapper form input {
  max-width: 70px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  padding: 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  border: solid 1px black;
  outline: none;
  color: dimgray;
  -moz-appearance: textfield;
}

.timer-wrapper form input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

.showTime {
  height: 200px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 1.25em;

  border-radius: 999px;
  border: solid 2px black;
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;

  text-decoration: none;
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.logout:hover,
.logout:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.logout:active {
  opacity: 0.5;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

@media only screen and (max-width: 1020px) {
  h1,
  h2 {
    text-align: center;
    margin-bottom: 12px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 100px 0px !important;
  }
  .container section:nth-child(2) {
    padding: 10px;
  }

  .todo {
    justify-content: center;
  }

  .timer-wrapper {
    padding: 0px;
  }

  .timer-wrapper form div:nth-child(2) {
    flex-flow: column;
  }
}
